<?xml version="1.0"?>
<configuration>

  <system.web>
    <httpRuntime maxRequestLength="2097151"/>
    <!--
            设置 compilation debug="true" ，将调试符号 
            插入已编译的页面中。但由于这会影响性能， 
           因此请只在开发过程中 
            将此值设置为 true。
        -->
    <compilation debug="false" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节可以配置
            ASP.NET 使用的安全身份验证 
            模式，以标识传入的用户。 
        -->
    <authentication mode="Windows"/>
    <!--
            通过 <customErrors> 节可以配置在执行请求过程中出现未处理错误时， 
           应执行的操作。 
            具体说来，开发人员通过该节 
            可以配置要显示的 html 错误页 
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
